
.Phonetic {
  margin: 15px 0;
}

.Phonetic a {
  border: 1px solid #FFC090;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  color: #FFC090;
  transition: all 200ms ease-in-out;
  font-size: 14px;
  margin-right:10px;
  display: block;
  width: 80px;
  text-align: center;
}

.Phonetic a:hover {
  background: #FFC090;
  color: white;
}

.Phonetic p {
  padding-left: 20px;
  padding-top: 15px;
}
